@import 'config';

// SPDX-License-Identifier: AGPL-3.0

// 代码块样式
.fragment {
    font-family: $fixed-font;
    font-size: 14px;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    .line {
        white-space: pre;
    }
}

pre.fragment {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    overflow: auto;
    word-wrap: break-word;
    line-height: 125%;
}

// 行(超链接)
a.line {
    color: mix(#89c3eb, black, 100%);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: mix(#89c3eb, black, 75%);
    }
}

// 行号
.lineno {
    color: grey;
    text-align: right;
    padding-right: 0.8em;
}

// 代码高亮样式
span.preprocessor {
    color: rgb(200, 0, 200);
}

span.keyword {
    color: blue;
}

span.keywordtype {
    color: blue;
}

span.keywordflow {
    color: rgb(200, 0, 200);
}

span.comment {
    color: rgb(0, 150, 0);
}

span.stringliteral {
    color: rgb(168, 20, 20);
}

span.charliteral {
    color: rgb(192, 100, 40);
}