@import 'config';

// SPDX-License-Identifier: AGPL-3.0

// stylelint-disable no-descending-specificity

// 成员表格
.memberdecls {
    line-height: 150%;
    border-collapse: collapse;
    border-radius: 2px;

    .mdescLeft,
    .mdescRight,
    .memItemLeft,
    .memItemRight,
    .memTemplItemLeft,
    .memTemplItemRight,
    .memTemplParams {
        border: none;
        min-width: 4em;
        padding-left: 0.25em;
        padding-right: 0.5em;
        background-color: $table-background-color;
    }

    .memItemRight {
        width: 100%;
    }

    a {
        color: $table-hyper-color;
    }
}

// 摘要内容
.summary {
    text-align: right;
    width: 100%;
    font-size: 10pt;
    margin-top: 0.25em;

    a {
        color: $hyper-link-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

// 文本块
.textblock {
    p {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        line-height: 150%;
    }

    h1 {
        color: $section-text-color;
        font-size: 150%;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    h2 {
        color: $section-text-color;
        font-size: 120%;
        margin-top: 0.75em;
        margin-bottom: 0.75em;
    }

    h3 {
        color: $section-text-color;
        font-size: 100%;
        margin-top: 0.75em;
        margin-bottom: 0.75em;
    }

    // 代码块片段
    .fragment {
        padding: 0.75em;
        border: 1px solid $light-line-color;
        border-radius: 2px;
        background-color: $table-background-color;
    }

    // 无序列表
    ul {
        margin-left: $line-ident + 1.5em;
        margin-top: 1em;
        margin-bottom: 1em;

        li {
            display: list-item;
            text-align: -webkit-match-parent;
        }
    }

    // 有序列表
    ol {
        margin-left: $line-ident + 1.5em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    // 内联的代码块
    code {
        font-family: 'Cascadia Code', monospace, fixed;
        font-size: 14px;
        padding-left: 0.25em;
        padding-right: 0.25em;
    }
}

// 目录树
.directory {
    // 表格样式
    width: 100%;
    border-collapse: collapse;

    // 目录项
    tr,
    th {
        line-height: 125%;

        // "图标"
        .icona {
            margin-left: 0.75em;
            margin-right: 0.75em;
        }
    }

    // 超链接
    a {
        color: $table-text-color;
        text-decoration: none;
        outline: none;

        &:hover {
            text-decoration: underline;
        }
    }

    // 偶数的表格项
    .even {
        background-color: $table-background-color;
    }

    // 目录树的展开级别
    .levels {
        width: 100%;
        color: $table-text-color;
        font-size: 12pt;
        text-align: right;

        span {
            cursor: pointer;
            padding-left: 0.25em;
            padding-right: 0.25em;

            &:hover {
                border-radius: 2px;
                color: mix($table-text-color, black, 50%);
                background-color: $split-line-color;
            }
        }
    }
}

// 成员title
h1.memtitle,
h2.memtitle,
h3.memtitle {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

// 参数表
dl.params {
    margin-left: 1.0em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    padding-bottom: 0.5em;

    // 为了和注解等等的对齐
    border-left: 4px solid $split-line-color;
    padding-left: 0.5em;

    dt {
        font-weight: bold;
    }

    dd {
        color: $text-color;
        margin-left: 2.5em;
    }
}

table.params {
    border-collapse: collapse;
    line-height: 200%;

    td {
        padding-right: 0.5em;
    }

    td:last-child {
        padding-right: 0;
    }

    // 参数方向
    .paramdir {
        font-family: "courier new", courier, monospace;
        vertical-align: top;
    }

    // 参数, 返回值颜色等等
    .params .paramname,
    .retval .paramname {
        font-weight: bold;
        vertical-align: top;
    }

    .params,
    .retval,
    .exception,
    .tparams {
        border-spacing: 0.75em 0.25em;
    }

    // 参数名
    .paramname {
        color: #602020;
        white-space: nowrap;
        font-family: $fixed-font;
    }
}

// 作者信息等等
dl.section {
    margin-left: 1em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    padding-bottom: 0.5em;

    dt {
        font-weight: bold;
    }

    dd {
        color: $text-color;
        margin-left: 2.5em;
    }

    span.obfuscator {
        display: none;
    }
}

// 注解等等左边需要边框的内容
dl.note,
dl.warning,
dl.attention,
dl.pre,
dl.post,
dl.invariant,
dl.deprecated,
dl.todo,
dl.test,
dl.section.return,
dl.bug {
    padding-left: 0.5em;
    border-left: 4px solid;
}

// 注解 @note
dl.section.note {
    border-color: #d0c000;
}

// 警告 @warning
dl.section.warning {
    border-color: orange;
}

// 注意 @attention
dl.section.attention {
    border-color: red;
}

// return
dl.section.return {
    border-color: #a0d8ef;
}

// 函数等等的说明的section header
div.memproto {
    font-family: $fixed-font;
    padding: 1em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    border: 1px solid $light-line-color;
    border-radius: 2px;
    background-color: $table-background-color;
}

// 文档内容
.memdoc {
    p {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0.5em;
        line-height: 150%;
    }

    code {
        font-family: $fixed-font;
        margin-left: 0.25em;
        margin-right: 0.25em;
    }
}

// 结构体table
table.fieldtable {
    line-height: 200%;
    border-collapse: collapse;
    font-family: $fixed-font;
    margin-top: 1.25em;
    margin-bottom: 1.25em;

    th {
        text-align: left;
        border-top: 2px solid $light-line-color;
        border-bottom: 2px solid $light-line-color;
        background-color: $table-background-color;
    }

    th,
    td {
        padding-left: 0.25em;
        padding-right: 0.5em;
    }

    td {
        border-right: 2px solid $light-line-color;
    }

    tr {
        border-bottom: 2px solid $light-line-color;
    }

    td:last-child {
        border: none;
    }

    .fielddoc {
        width: 100%;
    }
}

// 代码块末尾那个Div, 不知道叫什么
div.ttc {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 1.25em;
    padding-left: 0.75em;
    border-left: 4px solid mix(#884898, white, 25%);
}

// markdown表格
table.markdownTable {
    line-height: 150%;
    border-collapse: collapse;
    border-radius: 2px;
    margin-top: 1.25em;
    margin-bottom: 1.25em;

    th {
        text-align: left;
        border-top: 2px solid $light-line-color;
        border-bottom: 2px solid $light-line-color;
        background-color: $table-background-color;
    }

    th,
    td {
        padding-left: 0.25em;
        padding-right: 0.5em;
    }

    td {
        border-right: 2px solid $light-line-color;
    }

    tr {
        border-bottom: 2px solid $light-line-color;
    }

    tr:last-child {
        border: none;
    }

    // 偶数的表格项
    .markdownTableRowOdd {
        background-color: $table-background-color;
    }
}

// 内容
.contents {
    width: $content-width;
    min-width: $content-min-width;
    max-width: $content-max-width;
    margin: 0 auto;

    p {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        line-height: 150%;
    }


    a {
        color: $hyper-link-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .textblock {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }

    h1 {
        color: $section-text-color;
        font-size: 150%;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    h2 {
        color: $section-text-color;
        font-size: 120%;
        margin-top: 0.75em;
        margin-bottom: 0.75em;
    }

    h3 {
        color: $section-text-color;
        font-size: 100%;
        margin-top: 0.75em;
        margin-bottom: 0.75em;
    }
}

// stylelint-enable no-descending-specificity