*
!*/

.pyenv
.vscode
build
target
lib

!*.md
!LICENSE
!COPYING
!.gitignore
!.gitattributes

!*.yml
!*.html
!*.txt

!*.png
!*_nlfs.jpg
!*_nlfs.webp
!*.svg
!*.drawio

*/internal/*


!.clang-format
!*.h
!*.c
!Makefile
