*
!*/

.pyenv
.vscode
lib
build
target
target_coverage

!*.md
!LICENSE
!COPYING
!.gitignore
!.gitmodules
!.gitattributes

!*.yml
!*.html
!*.txt

!*.png
!*_nlfs.jpg
!*_nlfs.webp
!*.svg
!*.drawio

!.clang-format
!*.hpp
!*.cpp
!*.h
!*.c
!Makefile
!Doxyfile
!*_resource.rc

cmake-build-debug/
.idea/

*/internal/*

