*
!*/

.idea
.pyenv
.vscode
lib
pack
build
target
target_package
target_coverage
cmake-build-debug

!*.md
!LICENSE
!COPYING
!.gitignore
!.gitmodules
!.gitattributes

!*.yml
!*.html
!*.txt

!*.png
!*_nlfs.jpg
!*_nlfs.webp
!*.svg
!*.drawio

!.clang-format
!*.hpp
!*.cpp
!*.h
!*.c
!*.toml
!Makefile
!Doxyfile
!conanfile.py

cmake-build-debug/
.idea/
!*_resource.rc

*/internal/*

