// SPDX-License-Identifier: LGPL-3.0
$bg-color: #fff;
// 跨儿旗
$transflag-blue: #5bcefa;
$transflag-white: #f0f0f0;
$transflag-pink: #f6a8b8;
$transflag-gray: #ccc;
// 边框颜色
$border-color: #f0f0f0;
// 超链接颜色
$hpyer-link-color: #198619;