@import "@theme/stylevars";
@import "@style/syntaxhighlight-c";

// SPDX-License-Identifier: LGPL-3.0

.markdown-box {
    font-family: $text-font;

    // 西文连字和连字符
    // 参考: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_text/Wrapping_breaking_text
    hyphens: auto;
    font-variant-ligatures: contextual;

    // 两端对齐
    text-align: justify;
    text-justify: inter-ideograph;

    // 需要保留原始色彩的元素
    .katex,
    h1,
    h2,
    h3,
    h4,
    h5,
    .img-info,
    pre.hljs {
        color: var(--text-color);
    }

    // 段落文本
    p {
        margin: 0;
        margin-top: 0.5em;
        text-indent: 2em;
        word-wrap: break-word;

        img {
            display: block;
            margin: 0 auto;
            padding-top: 0.8em;

            // 宽高限制
            max-width: 22em;
            max-height: 17em;
        }

        code {
            color: var(--text-color);
            padding-left: 0.1em;
            padding-right: 0.1em;
            background-color: var(--text-block-bg-color)
        }

        .bio-reading-bold {
            color: var(--text-color);
        }
    }

    ul,
    ol {
        li code {
            color: var(--text-color);
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: 500;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    h1 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 150%;
    }

    h2 {
        font-size: 125%;
    }

    h3,
    h4,
    h5 {
        font-size: 120%;
    }

    a {
        text-decoration: none;

        &:hover {
            color: var(--hpyer-link-color-hover);
        }

        .bio-reading-bold {
            color: inherit;
        }
    }

    pre.hljs {
        font-family: $mono-text-font;
        font-weight: 400;
        font-size: 85%;
        margin-left: 3em;
        overflow-x: auto;

        code {
            font-family: inherit;
        }
    }

    .toc {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .toc-tree {
        padding: 0;
        padding-left: 2em;
        list-style: none;

        .toc-tree {
            padding-left: 1.5em;
        }
    }

    .toc-hyper-link:hover {
        color: var(--hpyer-link-color-hover);
    }

    .toc-level1-content {
        font-weight: 600;
    }

    .img-info {
        font-size: 0.9em;
        text-align: center;
        margin-top: 0.4em;
        margin-bottom: 1em;
    }
}