@import "@theme/themevar";
@import "@theme/stylevars";
@import "@style/syntaxhighlight";

// SPDX-License-Identifier: LGPL-3.0

.markdown-index {
    .toc-tree {
        margin: 0;
        padding: 0;
        padding-left: 1.25em;
        list-style: none;
        font-family: var(--caption-font);

        .toc-tree {
            padding-left: 1em;
        }
    }

    .toc-hyper-link {
        text-decoration: none;
    }

    .toc-hyper-link:hover {
        color: var(--hpyer-link-color-hover);
    }

    .toc-level1-content {
        font-weight: var(--caption-text-weight);
        letter-spacing: 0.5px;
    }
}

.markdown-box {
    font-size: var(--text-font-size);
    font-family: var(--text-font);
    font-weight: 400;
    line-height: var(--text-line-height);
    letter-spacing: var(--text-space);
    vertical-align: baseline;

    // 西文连字和连字符
    // 参考: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_text/Wrapping_breaking_text
    hyphens: auto;
    font-variant-ligatures: contextual;

    // 两端对齐
    text-align: justify;
    text-justify: inter-ideograph;

    // 需要保留原始色彩的元素
    .katex,
    h1,
    h2,
    h3,
    h4,
    h5,
    .img-info,
    pre.hljs {
        color: var(--text-color);
    }

    // 段落文本
    p {
        margin: 0;
        text-indent: var(--text-indent);
        word-wrap: break-word;

        img {
            display: block;
            margin: 0 auto;
            padding-top: 0.8em;

            // 宽高限制
            max-width: 22em;
            max-height: 17em;
        }

        code {
            border-radius: 2px;
            padding-left: 0.1em;
            padding-right: 0.1em;
            color: var(--text-color);
            background-color: var(--text-block-bg-color);
            font-family: var(--inline-code-block-font);
        }

        .bio-reading-bold {
            color: var(--text-color);
        }
    }

    ul,
    ol {
        li code {
            border-radius: 2px;
            padding-left: 0.1em;
            padding-right: 0.1em;
            color: var(--text-color);
            background-color: var(--text-block-bg-color);
            font-family: var(--inline-code-block-font);
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-top: 0.6em;
        margin-bottom: 0.6em;
        font-weight: var(--caption-text-weight);
        font-family: var(--caption-font);
        letter-spacing: var(--text-caption-space);
    }

    h1 {
        font-size: 150%;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
    }

    h2 {
        font-size: 125%;
    }

    h3,
    h4,
    h5 {
        font-size: 120%;
    }

    a {
        text-decoration: none;

        &:hover {
            color: var(--hpyer-link-color-hover);
        }

        .bio-reading-bold {
            color: inherit;
        }
    }

    // 引用块
    blockquote {
        font-size: 0.9em;
        font-family: var(--quote-text-font);
        box-sizing: border-box;
        padding: 0.5em;

        // 边框
        border: 1px solid var(--border-color);
        border-radius: 2px;

        // 颜色
        background-color: var(--quote-bg-color);

        .bio-reading-bold {
            color: var(--text-color);
        }

        p code {
            background-color: var(--quote-code-bg-color);
        }

        p:first-child {
            text-indent: initial;
            text-align: center;
            color: var(--quote-caption-color);
            font-weight: var(--text-bold-weight);
            font-family: var(--caption-font);
            letter-spacing: var(--text-caption-space);
        }

        strong {
            font-weight: var(--text-bold-weight);
        }
    }

    // 代码块
    pre.hljs {
        font-family: $mono-text-font;
        font-weight: 400;
        font-size: 85%;
        margin-left: 3em;
        overflow-x: auto;

        code {
            font-family: inherit;
        }
    }

    // 图注
    .img-caption {
        display: block;
        margin-top: 0.4em;
        margin-bottom: 0.5em;
        color: var(--text-color);
        text-indent: 0;
        text-align: center;
        font-size: 0.9em;
        font-family: var(--image-caption-font);
    }

    // 表格
    table {
        width: 100%;
        margin-top: 0.25em;
        margin-bottom: 1em;
        padding-left: 4em;
        padding-right: 4em;

        // 边框
        box-sizing: border-box;
        border-spacing: 0;

        // 字号比正文小一号, 不参与bio-reading
        font-size: 0.9em;
        font-family: inherit;
        color: var(--text-color);

        td,
        th {
            border: none;
            padding: 0.25em 0.5em;
        }

        th {
            text-align: center;
            font-weight: var(--text-bold-weight);
            border-top: 2px solid var(--border-color-deep);
            border-bottom: 1px solid var(--border-color-deep);
        }

        tr:last-child td {
            border-bottom: 2px solid var(--border-color-deep);
        }
    }

    // 表标题
    .table-caption {
        display: block;
        text-align: center;
        margin-top: 0.5em;
        color: var(--text-color);
        text-indent: 0;
        font-size: 0.9em;
        font-family: var(--table-caption-font);
    }

    // 机器翻译提示信息
    .translate-hint {
        width: 100%;
        font-size: 0.9em;
        margin-bottom: 1em;
        text-align: right;
    }
}

@media screen and (width < 1280px) {
    .markdown-box table {
        padding-left: 3em;
        padding-right: 3em;
    }
}

@media screen and (width < 720px) {
    .markdown-box {
        table {
            padding-left: 1em;
            padding-right: 1em;
        }

        blockquote {
            margin-left: 1em;
            margin-right: 1em;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid var(--border-color);
        }
    }
}