@import "@theme/stylevars";
@import "@style/syntaxhighlight-c";

// SPDX-License-Identifier: LGPL-3.0

.markdown-box {
    color: $text-color;
    font-family: $text-font;

    // 西文连字和连字符
    // 参考: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_text/Wrapping_breaking_text
    hyphens: auto;
    font-variant-ligatures: contextual;

    // 两端对齐
    text-align: justify;
    text-justify: inter-ideograph;

    // bio reading 加粗的内容
    .bio-reading-bold {
        color: $text-color;
    }

    // 段落文本
    p {
        color: $text-color;
        text-indent: 2em;
        word-wrap: break-word;

        code {
            color: #393e4f;
            padding-left: 0.1em;
            padding-right: 0.1em;
            background-color: mix($bg-color, #f8f9fa, 20%);
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: 500;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    h1 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 150%;
    }

    h2 {
        font-size: 125%;
    }

    h3,
    h4,
    h5 {
        font-size: 120%;
    }

    a {
        color: $hpyer-link-color;
        text-decoration: none;

        &:hover {
            color: mix($hpyer-link-color, $bg-color, 50%);
        }

        .bio-reading-bold {
            color: inherit;
        }
    }

    pre.hljs {
        font-family: $mono-text-font;
        font-weight: 400;
        font-size: 85%;
        margin-left: 3em;
        overflow-x: auto;

        code {
            font-family: inherit;
        }
    }

    .toc {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .toc-tree {
        padding: 0;
        padding-left: 2em;
        list-style: none;

        .toc-tree {
            padding-left: 1.5em;
        }
    }

    .toc-hyper-link:hover {
        color: mix($hpyer-link-color, black, 50%);
    }

    .toc-level1-content {
        font-weight: 600;
    }
}