@import "@theme/stylevars";
@import "@style/markdown";
@import "@style/pages";

// SPDX-License-Identifier: LGPL-3.0

body {
    margin: 0;
    padding: 0;
    min-width: 240px;
}

// CSS过渡动画
a,
button {
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: color 0.2s, background-color 0.1s, transform 0.25s;
}