@import "@theme/stylevars";
@import "@theme/themevar";
@import "@style/markdown";
@import "@style/pages";

// SPDX-License-Identifier: LGPL-3.0

// body
body {
    margin: 0;
    padding: 0;
    min-width: 480px;
    color: var(--text-color);
    background-color: var(--bg-color);
}

// 动画
a,
button,
select,
option,
input[type='radio']+label {
    transition: color 0.4s, background-color 0.4s, transform 0.4s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

// a, button,select样式
a,
button,
select,
option {
    color: var(--hpyer-link-color);
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--hpyer-link-color-hover);
}

// bio reading 加粗的内容
.bio-reading-bold {
    color: var(--text-color);
}