@import "@theme/stylevars";

// SPDX-License-Identifier: LGPL-3.0

.hljs-keyword {
    color: #0095d9;
}

.hljs-title {
    color: #006e54;
    font-weight: 600;
}

.hljs-type {
    color: #ba2636;
}

.hljs-string {
    color: #bb5535;
}

.hljs-number {
    color: #00a3af;
}

.hljs-comment {
    color: #028760;
    font-style: italic;
}