@import "@theme/stylevars";

// SPDX-License-Identifier: LGPL-3.0

.hljs-keyword {
    color: #0095d9;
}

.hljs-title {
    color: #1ca182;
    font-weight: 600;
}

.hljs-type {
    color: #c53745;
}

.hljs-string {
    color: #c05c3e;
}

.hljs-number {
    color: #00a3af;
}

.hljs-comment {
    color: #11a075;
    font-style: italic;
}

.hljs-meta {
    color: #9761a7;

    .hljs-keyword {
        color: inherit;
        font-weight: 600;
    }
}