*
!*/

.pyenv
.vscode
.svelte-kit
build
target
dist
node_modules

!*.md
!LICENSE
!COPYING
!.gitignore

*/internal/*

!*.h
!*.c
!Makefile
!export.mk

!*.ts
!*.json
!*.yml
!*.html
!*.js
!*.svelte
!*.scss
!*.svg
!*.webp
!*.gif
!*.png

