@import 'config';

// SPDX-License-Identifier: LGPL-3.0

.main-content {
    .task-list {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 1em;
        padding-left: 0px;
        list-style-type: none;

        .task-list-item-checkbox {
            position: relative;
            margin-right: 0.7em;
            -webkit-appearance: none;
            border: 1px solid $checkbox-border-color;
            border-radius: 2px;
            outline: none;
            width: 0.8em;
            height: 0.8em;

            &:checked {
                border: 1px solid #1e6bb8;
            }

            &:after {
                inset: 0;
                pointer-events: none;
                background: $checkbox-color;
                mask-size: cover;
                -webkit-mask-size: cover;
            }

            &:checked:after {
                content: "";
                position: absolute;
                mask-image: $checkbox-img;
                -webkit-mask-image: $checkbox-img;
                -webkit-print-color-adjust: exact;
                color-adjust: exact;
            }
        }
    }
}