// SPDX-License-Identifier: LGPL-3.0

.page-header {
    color: inherit;
    text-align: left;
    background-color: #f7fcfe;
    background-image: none;
}

.page-header-inner {
    max-width: 64rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.header-toc {
    flex-shrink: 0;
    flex-basis: 18em;
}

@media screen and (max-width: 42em) {
    .page-header {
        flex-direction: column;
    }
}