// SPDX-License-Identifier: LGPL-3.0
$bg-color: #fff;
$bg-color-dark: #2d3138;
$bg-color-warm: #f1e3d3;

// 跨儿旗
$transflag-blue: #5bcefa;
$transflag-white: #f0f0f0;
$transflag-pink: #f6a8b8;
$transflag-gray: #ccc;

// 边框颜色
$border-color: #f0f0f0;

// 超链接颜色
$hpyer-link-color: #198619;

// 按钮颜色
$button-color: #198619;
$button-bg-color: $bg-color;

// 文本字体
$text-font: "Overpass", -apple-system,
    blinkmacsystemfont, "Segoe UI", roboto, oxygen,
    ubuntu, cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// 等宽字符
$mono-text-font: 'Cascadia Mono', consolas, 'Courier New', monospace;

// 文本颜色
$text-color: #2c2f31;