@import "@theme/stylevars";

// SPDX-License-Identifier: LGPL-3.0

// default theme:
:root {
    --bg-color: #{$bg-color};
    --text-color: #{$text-color};
    --weak-color: #999;
    --border-color: #{$border-color};
    --table-border-color: #{$table-border-color};
    --text-block-bg-color: #{mix($bg-color, #f8f9fa, 20%)};
    --quote-bg-color: #{mix($bg-color, #f8f9fa, 20%)};
    --quote-code-bg-color: #{mix(#f8f9fa, #a3a3a2, 80%)};
    --quote-caption-color: #{$text-color};

    // 超链接
    --hpyer-link-color: #{$hpyer-link-color};
    --hpyer-link-color-hover:#{mix($hpyer-link-color, $bg-color, 50%)};
    --hpyer-link-color-actived: #{mix($hpyer-link-color, $bg-color, 25%)};

    // 按钮
    --button-color: #{$button-color};
    --button-hover-bg-color: #{mix($bg-color, $text-color, 80%)};
    --button-actived-bg-color: #{mix($bg-color, $text-color, 75%)};

    // 字体
    --text-font: #{$text-font-en};
    --caption-font: #{$text-font-en};
    --quote-text-font: #{$text-font-en};
    --table-caption-font: #{$text-font-en};
    --image-caption-font: #{$text-font-en};

    // 行距
    --text-font-size: 1.1rem;
    --text-line-height: 150%;
    --text-caption-space: 0.5px;
    --text-bold-weight: 500;
}

// dark theme
[page-theme='dark'] {
    --bg-color: #{$bg-color-dark};
    --text-color: #{invert($text-color)};
    --weak-color: #999;
    --border-color: #{mix($bg-color-dark, $border-color, 75%)};
    --table-border-color: #{$table-border-color};
    --text-block-bg-color: #{mix($bg-color-dark, #f8f9fa, 90%)};
    --quote-bg-color: #{mix($bg-color-dark, #f8f9fa, 95%)};
    --quote-code-bg-color: #{mix($bg-color-dark, #f8f9fa, 85%)};
    --quote-caption-color: #{invert($text-color)};

    // 超链接
    --hpyer-link-color: #{mix($hpyer-link-color, white, 80%)};

    // 按钮
    --button-color: #{mix($hpyer-link-color, white, 80%)};
    --button-hover-bg-color: #{mix($bg-color-dark, white, 85%)};
    --button-actived-bg-color: #{mix($bg-color-dark, white, 90%)};
}

// warm theme
[page-theme='warm'] {
    --weak-color: #888;
    --bg-color: #{$bg-color-warm};
    --border-color: #{mix($bg-color-warm, $text-color, 50%)};
    --table-border-color: #{$table-border-color};
    --text-block-bg-color: #{mix($bg-color-warm, $text-color, 85%)};
    --quote-bg-color: #{mix($bg-color-warm, #f8f9fa, 95%)};
    --quote-code-bg-color: #{mix($bg-color-warm, $text-color, 92%)};
    --quote-caption-color: #{$text-color};

    // 按钮
    --button-hover-bg-color: #{mix($bg-color-warm, black, 90%)};
    --button-actived-bg-color: #{mix($bg-color-warm, black, 85%)};
}

// lang: 中文
[page-lang='zh'] {
    // 字体
    --text-font: #{$text-font-zh};
    --caption-font: #{$text-font-zh};
    --quote-text-font: #{$text-font-zh};
    --table-caption-font: #{$text-font-zh};
    --image-caption-font: #{$text-font-zh};

    // 行距
    --text-font-size: 1.15rem;
    --text-line-height: 160%;
    --text-caption-space: 1.25px;
    --text-bold-weight: 600;
}