@import "@theme/stylevars";

// SPDX-License-Identifier: LGPL-3.0

// default theme:
:root {
    --bg-color: #{$bg-color};
    --text-color: #{$text-color};
    --weak-color: #999;
    --odd-content-bg-color: #{mix($bg-color, #f8f9fa, 20%)};
    --even-content-bg-color: #{$bg-color};
    --text-block-bg-color: #{mix($bg-color, #f8f9fa, 20%)};
    --quote-bg-color: #{mix($bg-color, #f8f9fa, 20%)};
    --quote-code-bg-color: #{mix(#f8f9fa, #a3a3a2, 80%)};
    --quote-caption-color: #{$text-color};

    // 边框颜色
    --border-color: #{$border-color};
    --border-color-middle: #{mix($border-color, black, 80%)};
    --border-color-deep: #{mix($border-color, black, 50%)};

    // 页脚
    --footer-bg-color: #{mix($bg-color, #f8f9fa, 20%)};
    --footer-content-color: #666;

    // 单选按钮
    --button2-bg-color: #{mix($bg-color, #b2cca6, 70%)};
    --button2-hover-bg-color: #95b188;
    --button2-selected-bg-color: #b2cca6;
    --button2-disable-color: #aaa;
    --button2-disable-bg-color: #ebebeb;

    // 超链接
    --hpyer-link-color: #{$hpyer-link-color};
    --hpyer-link-color-hover:#{mix($hpyer-link-color, $bg-color, 50%)};
    --hpyer-link-color-actived: #{mix($hpyer-link-color, $bg-color, 25%)};

    // 按钮
    --button-color: #{$button-color};
    --button-bg-color: #{mix($bg-color, #f8f9fa, 20%)};
    --button-hover-bg-color: #{mix($bg-color, $text-color, 80%)};
    --button-actived-bg-color: #{mix($bg-color, $text-color, 75%)};

    // 字体
    --text-font: #{$text-font-en};
    --caption-font: #{$text-font-en};
    --quote-text-font: #{$text-font-en};
    --table-caption-font: #{$text-font-en};
    --image-caption-font: #{$text-font-en};
    --inline-code-block-font: #{$inline-code-text-font-en};

    // 行距和字体weight
    --text-font-size: 1.1rem;
    --text-line-height: 150%;
    --text-space: 0;
    --text-caption-space: 0.5px;
    --text-bold-weight: 500;
    --caption-text-weight: 600;

    // 首行缩进
    --text-indent: 2em;
}

// dark theme
[page-theme='dark'] {
    --bg-color: #{$bg-color-dark};
    --text-color: #{invert($text-color)};
    --weak-color: #999;
    --odd-content-bg-color: #{mix($bg-color-dark, invert(#f8f9fa), 60%)};
    --even-content-bg-color: #{mix($bg-color-dark, invert(#f8f9fa), 80%)};
    --text-block-bg-color: #{mix($bg-color-dark, #f8f9fa, 90%)};
    --quote-bg-color: #{mix($bg-color-dark, #f8f9fa, 95%)};
    --quote-code-bg-color: #{mix($bg-color-dark, #f8f9fa, 85%)};
    --quote-caption-color: #{invert($text-color)};

    // 边框颜色
    --border-color: #{mix($bg-color-dark, $border-color, 75%)};
    --border-color-deep: #{$table-border-color};

    // 页脚
    --footer-bg-color: #{mix($bg-color-dark, invert(#f8f9fa), 80%)};
    --footer-content-color: #ccc;

    // 单选按钮
    --button2-bg-color: #{mix($bg-color-dark, #b2cca6, 95%)};
    --button2-hover-bg-color: #555;
    --button2-selected-bg-color: #444;
    --button2-disable-color: #666;
    --button2-disable-bg-color: #{mix($bg-color-dark, white, 95%)};

    // 超链接
    --hpyer-link-color: #{mix($hpyer-link-color, white, 80%)};

    // 按钮
    --button-color: #{mix($hpyer-link-color, white, 80%)};
    --button-hover-bg-color: #{mix($bg-color-dark, white, 85%)};
    --button-actived-bg-color: #{mix($bg-color-dark, white, 90%)};
}

// warm theme
[page-theme='warm'] {
    --weak-color: #888;
    --bg-color: #{$bg-color-warm};
    --odd-content-bg-color: #{mix($bg-color-warm,#b68d4c, 80%)};
    --even-content-bg-color: #{mix($bg-color-warm, #b68d4c, 100%)};
    --text-block-bg-color: #{mix($bg-color-warm, $text-color, 85%)};
    --quote-bg-color: #{mix($bg-color-warm, #f8f9fa, 95%)};
    --quote-code-bg-color: #{mix($bg-color-warm, $text-color, 92%)};
    --quote-caption-color: #{$text-color};

    // 边框颜色
    --border-color: #{mix($bg-color-warm, $text-color, 50%)};
    --border-color-deep: #{$table-border-color};

    // 页脚
    --footer-bg-color: #{$bg-color-warm};
    --footer-content-color: #{$text-color};

    // 单选按钮
    --button2-bg-color: #{mix($bg-color-warm, #deb068, 70%)};
    --button2-hover-bg-color: #deb068;
    --button2-selected-bg-color: #{mix($bg-color-warm, #deb068, 20%)};
    --button2-disable-color: #aaa;
    --button2-disable-bg-color: #{mix($bg-color-warm, #deb068, 85%)};

    // 按钮
    --button-hover-bg-color: #{mix($bg-color-warm, black, 90%)};
    --button-actived-bg-color: #{mix($bg-color-warm, black, 85%)};
}

// lang: 中文
[page-lang='zh'] {
    // 字体
    --text-font: #{$text-font-zh};
    --caption-font: #{$text-font-zh};
    --quote-text-font: #{$text-font-zh};
    --table-caption-font: #{$text-font-zh};
    --image-caption-font: #{$text-font-zh};
    --inline-code-block-font: #{$inline-code-text-font-zh};

    // 行距
    --text-font-size: 1.1rem;
    --text-line-height: 160%;
    --text-space: 0.25px;
    --text-caption-space: 1.25px;
    --text-bold-weight: 500;
}