@import 'config';

// SPDX-License-Identifier: LGPL-3.0

// 页脚
.footer {
    margin-top: 1em;
    margin-bottom: 2em;
    border: none;
    border-top: solid 1px $light-line-color;
}

// footer的内容
.footer-inner {
    margin: 0 auto;
    padding-top: 1em;
    width: $content-width;
    min-width: $content-min-width;
    max-width: $header-footer-max-width;
    font-style: normal;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;

    a {
        color: $hyper-link-color;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }
}